.homeuser-container{
   display: flex;
   flex-direction: row;
   justify-items: center;
   height: 100vh;
}
.homeuser-operations{
   display: flex;
   flex-direction: column;
   justify-items: center;
   width: max-content;
}
.homeUser-svg{
   background-color: #1F83BD;
   /* width: 15vw; */
}
.homeUser-svg svg{
   height: 1vw;
   width: 1vw;
   margin-top: 0.5vw;
   margin-left: 1vw;
   margin-right: 1vw;
   background-color: #1F83BD;
}
.homeuser-content{
   width: 100vw;
   height: 100vh;
   margin-left: 2vw;
   font-size: 1vw;
}  
.transferencia form{
   display: flex;
   flex-direction: column;
   width: 20vw;
}